html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --mobile-default-padding: 20px;
    --brand-color: #0069A6;
    --border-color: #F2F2F2;
    /* --border-color: black; */
    --contact-margin: 15px;
}

body {
    font-family: sans-serif;
    min-width: initial;
    /*overflow: hidden;*/
}

input:focus::placeholder, text:focus::placeholder {
    color: transparent;
}

.main_container {
    width: 95%;
    margin: 70px auto 10px;
}

    .main_container:after {
        content: " ";
        display: table;
        clear: both;
    }

.container {
    margin: 20px auto 0;
    width: 95%;
}

.header {
    background-color: #4C4C4C;
    position: fixed;
    padding: 10px;
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    z-index: 1000;
    justify-content: flex-start;
    align-items: center;
}

    .logo {
        float: left;
        width: 140px;
        cursor: pointer;
    }

    .header__query {
        display: none;
        margin-left: 20px;

    }


.menu-container {
    margin-left: auto;
    position: relative;
    right: 20px;
}

    .menu_toggle {
        width: 40px;
        height: 30px;
        text-indent: 999em;
        white-space: nowrap;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background: #222 url("images/menu-icon.png") no-repeat 50%;
        background-size: 40%;
    }



.header .menu {   
    /* position: absolute; */
    /* left: 0;    */
    background: #4C4C4C;
    /* justify-content: flex-start; */
    overflow: auto;
    top: 10px;
    display: flex;     
    flex-flow: column;
    /* padding-left: 20px; */
    transition: max-height 1s ease-out;
    max-height: 0;
}

.header .menu.show {
    height: auto;
    max-height: 1100px;   
} 

.header .menu.active {
    opacity: 1;
}

    .header .menu_item {
        font-size: 16px;
        margin: 8px 20px;
    }

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.menu-dropdown {
    display: block;
    /* z-index: 100; */
    position: fixed;
    left: 0;
}

.search {
    display: none;
    outline: none;
}


.main_contact {
    margin-left: 20px;
    width: 150px;
    cursor: pointer;
}

    .main_number {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
    }

.number:link {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #494949;
}

.main_number:link {
    color: #fff;
}

.main {
    margin-top: 40px;
    margin-left: 0;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* justify-content: space-between; */
    font-weight: 100;
}


.contact__description {
    font-size: 14px;
    margin-bottom: 3px;
}

.hero {
    overflow: hidden;
}

.contact {
    margin-right: var(--contact-margin);
    margin-top: var(--contact-margin);
}

.email {
    display: flex;
    flex-direction: column;  
    display: none; 
    /* padding: 5px; */  
}

.email_description {
    font-size: 16px;
    text-align: center;
}

/* .email_link:link, .email_link:visited, .email_link:hover, */
/* .email_link:active { */
.email_link {
    text-align: center;
    /* text-decoration: none; */
    color: #000;
    font-size: 20px;
    /* padding: 20em 0; */
}

.branding__form {
    border: 2px solid var(--brand-color);
}

.advantages_categories_wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.advantages_wrapper {
    background-image: url("images/branding-welcome.jpg");
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages_caption {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    position: relative;
}

    .advantages_title {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.4;
        overflow: auto;
    }

    .advantages_list {
        display: flex;
        flex-flow: column wrap;
    }

    .advantage {
        display: block;
        /* margin-bottom: 25px;; */
        margin: 10px 0;
        /* width: 80%; */
        font-weight: 100;
        font-size: 18px;
        line-height: 1.4;
        text-align: start;     
        padding-left: 60px;   
    }


    .advantage:nth-child(1):before {
        content: "";
        background-image: url("images/truck.png");         
    }

    .advantage:nth-child(2):before {
        content: "";
        background-image: url("images/scissors.png");
    }

    .advantage:nth-child(3):before {
        content: "";
        background-image: url("images/ruler.png");
    }

    .advantage:nth-child(n):before {
        position: absolute;
        background-repeat: no-repeat;
        width: 100%;
        left: 0;
        height: 100%;
        /* background-position: 0px 0; */
        /* background-position: 20px 20px; */
        /* left: 50px; */
    }

.query {
    border: 2px solid var(--brand-color);
    margin: 15px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .query_form {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        width: 100%;
    }

    .query_form * {
        margin: 10px 0;
        outline: none;
        padding: 10px 0;
        border: 2px solid var(--border-color);        
        width: 100%;
    }

    .query-description {
        /* color: red; */
        font-size: 18px;
        line-height: 1.3;
    }

    .query_form *:focus {
        border-color: var(--brand-color);
    }

    .query_comment {
        padding: 15px;
    }

    .query_button {
        background: var(--brand-color);
        padding: 10px 15px;
        line-height: 1.2;
        color: #fff;
        font-size: 16px;
        border: none;
        margin-right: 20px;
        float: left;
    }

    .get_price {
        color: var(--brand-color);
        background-color: #fff;
        border: 2px solid var(--brand-color);
    }

    .query_input {
        padding: 10px 5px;
        width: 90%;
        font-size: 16px;
        transition: border .1s ease;
    }

.query.pricelist {
    border: none;
}


.terms_of_use {
    font-size: 12px;
}

    .terms_of_use_link {
        color: #599DC5
    }

.geography__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    
.categories {
    margin-top: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.category {    
    margin: 20px 5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

    .categories_title {
        font-size: 32px;
        margin-top: 30px;
    }

    .category_description {
        text-align: center;
        font-size: 18px;
    }

    .category_logo {
        border-radius: 100px;
        margin: 10px 0;
    }

.about_us {
    margin-top: 30px;
}

    .about_us__title {
        font-size: 32px;
    }

    .about_us__description {
        font-size: 16px;
        line-height: 1.5;
        margin: 15px 0;
    }

    .about_us h4 {
        font-size: 22px;
    }


.features {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

    .features_list {
        /* border: 4px solid var(--border-color); */
    }


    .features__title {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 20px;
        width: 100%;
    }

    .feature {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        padding: 30px 20px;
        border: 4px solid var(--border-color);
    }

        .feature:nth-child(even) {
            border-top: none;
        }

        .feature:first-child {
            /* border-bottom: 4px solid var(--border-color); */
        }

        .feature:nth-child(even) {
            /* border-left: 4px solid var(--border-color); */
        }

        .feature:nth-child(2) {
            /* border-bottom: 4px solid var(--border-color); */
        }

        .feature:nth-child(3n) {
            border-top: none;
        }

    .feature_caption {
        text-align: center;
        font-size: 14px;
        line-height: 1.4;
    }

    .feature_label {
        margin: 20px 0;
    }

.we {
    position: relative;
    margin: 30px 0;
    max-width: 860px;
    border: 5px solid red;
    width: 90vw;
}



    .we_tabs {
        display: table;
        line-height: 2;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }


    .we_tab {
        display: table-cell;
        font-size: 28px;
        text-align: center;
        text-decoration: none;
        color: var(--brand-color);
        border: 2px solid var(--border-color);
    }

    .we_tab.active {
        border-bottom: 4px solid var(--brand-color);
    }

.slider_wrapper {   
    margin-top: 10px;  
    position: relative;
    height: 35vh;
    /* overflow: hidden; */
    display: none;
}

.we_slider {
    position: relative;
    width: 90
    /* transition: transform 2s; */    
}

    .slider_wrapper.active {
        display: block;
    }


    .slider_button {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        position: absolute;
        top: 30%;
        background-image: url("images/arrow.png");
        width: 30px;
        height: 30px;
        z-index: 500;
    }

    .slider_button:hover {
        background-image: url("images/arrow_hover.png");
    }

    .slider_button.next {
        margin-left: auto;
        right: 40px;
    }

    .slider_button.prev {
        transform: rotate(180deg);
        left: 40px;
    }

    .slide {
        /* width: 90vw; */
        position: absolute;
        margin: 0 auto;
        /* height: 60vh; */
        top: 0;
    }

    .slide:nth-child(1) {
        left: 0;
    }

    .slide:nth-child(2) {
        left: 100%;
    }

    .slide:nth-child(3) {
        left: 200%;
    }

    .slide:nth-child(4) {
        left: 300%;
    }

    .slide:nth-child(5) {
        left: 400%;
    }

    .slide:nth-child(6) {
        left: 500%;
    }

    .slide:nth-child(7) {
        left: 600%;
    }

    .slide:nth-child(8) {
        left: 700%;
    }


    .slider_text {
        position: absolute;
        z-index: 200;
        font-size: 16px;
        font-weight: lighter;
        top: 10%;
        left: 10%;
    }

    .slider_text ul {
        list-style-type: disc;
    }

    .slider_text li {
        margin-top: 15px;
    }

    .slider_text_header {
        font-size: 28px;
    }

    .slider_background {
        /* background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,0)); */
        /* background-size: contain; */
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
        position: absolute;
    }

    .slide_text {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 24px;
        z-index: 100;
    }


.our_projects {
    position: relative;
    margin: 30px 0;
}

    .our_projects h2 {
        font-size: 28px;
    }

.producers {
    background-color: #F5F5F5;
    padding: 15px 0;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .producers__title {
        font-size: 32px;
        margin:0 30px;
    }

    .producers__logos {
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 30px 0;
        padding: 15px 0;
    }

    .producer_logo {
        /*width: 15%;*/
        /* height: auto; */
        /* width: 50px; */
        /* border: 1px solid black; */
    }


.query.pricelist form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;    
}

    .query.pricelist * {
        width: 100%;
    }

    .query.pricelist input:nth-child(1),
    .query.pricelist input:nth-child(2) {
        /* width: 45%; */
        width: 100%;
    }

.geography {
    margin: 50px 0;
}

    .geography__title {
        font-size: 36px;
    }

    .geography__description {
        font-size: 24px;
        margin: 15px 0;
    }

    .geography_img {
        width: 100%;
    }
  

.footer {
    background-color: #4C4C4C;
    color: #fff;
    padding: 20px 0;
}

    .footer:after {
        display: table;
        content: " ";
        clear: both;
    }

.menu li{
    width: 45%;
    /* opacity: 0; */
}

.menu_item {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
}

    .menu_item.extend:after {
        content: "\25BA";
        margin-left: 5px;
        font-size: 12px;
    }

.footer__mailing {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}

    .footer__mailing .query_input {
        width: 70%;
        box-sizing: border-box;
    }

    .footer__mailing input {
        margin: 15px 0;
        position: relative;
    }

    .footer__mailing .query_button {
        width: 30%;
        box-sizing: border-box;
    }

    .footer__time_social {
        display: flex;
        flex-flow: row wrap;
        margin-top: 50px;
    }

.phone {
    color: gray
}

.mailing__title {
    font-size: 20px;
}

.checkbox_container {
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
}

    .checkbox_container input {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: none;
        margin: 0;
        opacity: 0.0;
        z-index: 5;
    }

    .checkbox_container .terms_of_use {
        position: absolute;
        top: 0;
        left: 30px;
        line-height: 1.6;
    }

    .checkbox_container .terms_of_use:before {
        content: " ";
        width: 15px;
        height: 15px;
        background-color: #333;
        border: 1px solid #fff;
        position: absolute;
        left: -30px;
    }

    .checkbox_container input:checked ~ .terms_of_use:before {
        content: " ";
        width: 15px;
        height: 15px;
        background-color: var(--brand-color);
    }


.work_time {
    width: 55vw;
    float: left;
    margin-bottom: 30px;
}
    .work_time h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .work_time__list {
        display: flex;
        flex-flow: column wrap;
    }

    .work_time__item {
        margin: 5px 0;
    }

.social {
    width: 40%;
    float: right;
}

    .social__title {
        font-size: 20px;
    }

    .social_list {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    .social__item img{
        object-fit: cover;
        width: 50px;
        height: 50px;
    }

.footer__logo {
    overflow: auto;
    width: 100%;
    /*margin-top: -50px;*/
}

#to_top {
    width: 40px;
    height: 40px;
    position: fixed;
    display: block;
    top: 93vh;
    background-color: var(--brand-color);
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: rotate(270deg);
    border-radius: 5px;
    opacity: .5;
    right: 10%;
}

#to_top:hover {
    opacity: .8;
}


@media (min-width: 440px) {
    .features_list {
        display: flex;
        flex-flow: row wrap;
    }
    .feature {
        width: 50%;
    }

    .feature:nth-child(odd) {
        border-right: none;
    }

    .feature:nth-child(even) {
        border-top: 4px solid var(--border-color)
    }

    .feature:nth-child(4n) {
        border-top: none;
    }

    .feature:nth-child()
}

@media (min-width: 480px) {
    .categories {
        flex-flow: row wrap;
        justify-content: center;
    }

    .category {
        width: calc(33% - 1%);
        margin: 20px 0;
    }
}

@media (max-width: 450px) {
    .work_time {
        width: 100%;
    }
}

@media (min-width: 520px) {
    .features {
        flex-flow: row wrap;
    }

        .feature {
            padding: 40px;
            height: 260px;
            width: 50%;
            box-sizing: border-box;
            margin: 0;
        }
}

@media (min-width: 500px) {
    .search {
        display: inline-block;
        /* Отнимаем ширину логотипа и кнопки меню*/
        /*width: calc(100% - 140px - 50px)*/
    }

    .main_contact {
        display: none;
    }

    .header {
        flex-wrap: nowrap;
    }

    .search {
        margin-left: 20px;
    }

        .search_field {
            border: 2px solid var(--brand-color);
            padding: 7px;
        }

        .submit_search {
            border: 2px solid var(--brand-color);
            padding: 7px 15px;
            font-weight: bold;
            color: #fff;
            background-color: var(--brand-color);
        }

}

@media (min-width: 680px) {
    .header__query {
        display: block;
        line-height: 1;
        color: #fff;
        border-bottom: 1px solid #fff;
        transition: border-bottom-color ease .2s;
        cursor: pointer;
    }

    .header__query:hover {
        border-bottom-color: #4C4C4C;
    }
}

@media (min-width: 770px) {

    .category {
        width: calc(100%/4 - 1%);
    }

    .advantages_categories_wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }

    .advantages_wrapper {
        width: 55%;
        margin-right: 15px;
    }

    .query {
        width: 30%;
        margin: 0;
        border: 2px solid var(--brand-color);
    }

    .email {
        display: block;
    }

    .query_button {
        /* width: 100%; */
    }

    .calculate_order {
        width: 400px;
    }

    .get_price 

    .terms_of_use {
        margin-top: 10px;
    }

    .main_container {
        width: 730px;
    }

    .features_list {
        flex-flow: row nowrap;
        justify-content: space-between;
    }           

        .feature {
            width: calc(100%/4 - 10px);
            /* width: 20%;             */
            border: 4px solid var(--border-color);
            padding: 0;
        }

        .feature:nth-child(n) {
            border: 4px solid var(--border-color);
        }

    .producers_query_container {
        display: flex;
        flex-flow: row nowrap;
    }

    .producers {
        width: 70%;
    }  
}

@media (min-width: 850px) {
    .main_contact {
        display: block;
    }
}

@media (min-width: 1200px) {
    .main_container {
        width: 1100px;
    }
}