@import "reset";
@import "largePhonesStyles";
@import "landscapeTablets";
@import "desktopStyles";

$defaultFont: normal 18px/2 "Roboto", sans-serif;
$darkFontColor: #1C2B2F;
$mediumHeaderFontSize: 40px;
$largeHeaderFontSize: 45px;
$mediumFontSize: 42px;
$pMargin: 45px 0;
$padding: 60px 50px;

@mixin buttonInputStyle($borderColor, $fontColor) {
  border-style: solid;
  background-color: transparent;
  border: {
    color: $borderColor;
    radius: 15px;
    width: 1px;
  }
  color: $fontColor;
  font: $defaultFont;
  padding: 10px 25px;
}

.body {
  font: $defaultFont;
}

  .main-image {
    overflow: hidden;
    background: {
      image: url("images/Rectangle 1.png");
      repeat: no-repeat;
    }
  }

  .about {
    padding: $padding;
  }

  .about__header {
    font-size: $largeHeaderFontSize;
    font-weight: 300;
    color: $darkFontColor;
    margin: 60px 0;
  }

  .about__text {
    margin: $pMargin;
  }

.we-doing {
  padding: $padding;
  color: #fff;
  background: {
    image: url("images/Rectangle 1 copy 2.png");
    repeat: no-repeat;
    size: cover;
  };
}

  .we-doing__header {
    font-size: $largeHeaderFontSize;
  }

  .we-doing__text {
    margin: $pMargin;
  }

.our-history {
  padding: $padding;
  color: $darkFontColor;
  background: url("images/Rectangle 2.png");
}

  .our-history__header {
    font-size: $largeHeaderFontSize;
  }

  .our-history__text {
    margin: $pMargin;
  }

  .our-history__view {
    @include buttonInputStyle($darkFontColor, $darkFontColor);
  }

.verified {
  padding: $padding;
  font-size: .865em;
  color: #fff;
  background: {
    image: url("images/Rectangle 1 copy.png");
    repeat: no-repeat;
    size: cover;
  }
}

  .verified__header {
    font-size: $largeHeaderFontSize;
  }

  .verified__text {
    margin: $pMargin;
  }

  .verified__button {
    @include buttonInputStyle(#fff, #fff);
  }

.page-design {
  padding: $padding;
  background: url("images/Rectangle 2 copy.png") no-repeat;
  background-size: cover;
  color: #fff;
}

  .page-design__header {
    margin-bottom: 260px;
    font-size: $largeHeaderFontSize;
  }

  .page-design__name {
    font-size: $mediumFontSize;
  }

  .page-design__description {
    font-size: .92em;
  }

.contact {
  padding: $padding;
  background: {
    image: url("images/Rectangle 3.png");
    size: cover;
  }
  position: relative;
  color: #fff;
}

  .contact__header {
    font-size: $largeHeaderFontSize;
  }

  .contact__input {
    @include buttonInputStyle(#fff, #fff);
    background: transparent;
    color: #fff;
    margin: 10px 10px 10px 0;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }

.address_button {
  width: 45px;
  height: 45px;
  position: relative;
  display: block;
  margin-right: 5px;
  border-radius: 5px;
}

.address_description {
  margin-top: 45px;
}

.media-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.social__container {
  display: flex;
  margin: 20px 0;
}

.facebook_button {
  background: #035BB8;
}

.dribbble_button {
  background: #FF4699;
}

.twitter_button {
  background: #00B5FF;
}

.strong {
  font-weight: bold;
}

.navigation__hamburger {
  height: 3px;
  width: 33px;
  background: $darkFontColor;
  position: absolute;
  &:before, &:after {
    content: " ";
    display: block;
    width: 33px;
    height: 3px;
    background: $darkFontColor;
    position: absolute;
  }
  &:before {
    margin-top: 10px;
  }
  &:after {
    margin-top: 20px;
  }
}


.menu-toggle__input {
  position: absolute;
  width: 33px;
  height: 23px;
  opacity: 0;
  z-index: 1;
}


@media all and (max-width: 600px) {

  .navigation__hamburger {
    right: 13px;
    top: 3px;
  }

  .body {
    display: grid;
    grid-template-rows: 0 50vh;
    grid-auto-rows: min-content;
    grid-template-columns: 100vw;
  }

  .main-image {
    height: 50vh;
    width: 100%;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
  }

  .menu-toggle__input {
    right: 10px;
    top: 0;
  }

   .nav {
     position: sticky;
    top: 15px;
  }
}


