html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    overflow:hidden;
    position:relative;
    background-color:white;
}

.deck {
    margin: 100px auto;
    width: 70%;
}

.card {
    position: absolute;
    transform-origin: bottom left;
    transition: transform .5s linear;
}

.card img {
    transition: transform .2s linear;
}

.card:hover img {
    border: 2px solid red;
    transform: scale(1.1);
}

