/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  max-width: 980px;
  position: relative; }

.header {
  margin: 0 auto;
  padding: 65px;
  color: #767676;
  background-color: #DCDCDC; }

.company-label {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 24px; }

.company-label__logo {
  width: 100px;
  height: 100px;
  background: #767676; }

.company-label__description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin: 5px 15px 15px;
  width: 150px;
  line-height: .9; }

.company-label__title {
  font-size: 24px;
  font-weight: bold; }

.company-label__slogan {
  font-size: 14px; }

.feedback {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: -20px; }

.feedback__phone {
  font-size: 40px;
  font-weight: 300; }

.feedback__url {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
  margin-right: 0;
  text-decoration: none;
  color: #767676; }

.feedback__underline {
  border-top: 2px dashed; }

.main-menu {
  margin: 0 auto;
  background-color: #767676;
  width: auto;
  font-family: "PT Sans", sans-serif, sans-serif;
  font-size: 30px; }

.main-menu__list {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 980px; }

.main-menu li {
  position: relative; }
  .main-menu li:not(:first-child):after {
    content: "|";
    position: absolute;
    top: 30%;
    color: #fff; }

.list__item {
  color: #fff;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  margin: 25px 25px;
  transition: border-bottom .2s ease-in;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0); }
  .list__item:hover {
    border-color: white; }

.slider {
  margin: 0 auto;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url("images/1.png");
  background-position: calc(50% - 20px); }

.slide {
  margin: 0 auto;
  display: block;
  transition: opacity 1s ease-in; }
  .slide:not(.active) {
    opacity: 0;
    position: absolute; }

.slider__buttons {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0; }

.slider__button {
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  width: 64px;
  height: 61px;
  position: relative;
  cursor: pointer;
  top: 50%; }
  .slider__button.next {
    transform: rotate(180deg); }

.submenu__path-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 5px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px; }

.path-list__item {
  margin-right: 10px;
  text-decoration: none;
  color: #767676; }
  .path-list__item:hover {
    text-decoration: underline; }

.aside {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  margin-top: 20px;
  width: 20%; }

.categories-list__first-level-item {
  padding-top: 10px;
  font-size: 18px;
  color: #767676;
  text-decoration: none;
  display: block; }
  .categories-list__first-level-item:hover {
    text-decoration: underline; }
  .categories-list__first-level-item:not(:first-child) {
    padding-top: 10px; }

.categories__second-level-list {
  height: 0;
  padding-left: 10px;
  transition: height .5s ease-out;
  overflow: hidden; }

.categories-list__second-level-item {
  font-size: 14px;
  color: #767676;
  text-decoration: none;
  display: block;
  padding: 5px;
  position: relative; }
  .categories-list__second-level-item:before {
    content: "\2022";
    color: #767676;
    display: inline-block;
    position: absolute;
    left: -5px; }
  .categories-list__second-level-item:hover {
    color: #000; }

.pricelist__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  margin-top: 110px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  align-self: flex-start; }

.main {
  font-family: "PT Sans", sans-serif;
  margin-top: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) auto; }

.product {
  padding: 20px;
  float: left;
  background-color: #DCDCDC;
  margin-bottom: 20px;
  margin-right: 15px; }

.product__info {
  font-size: 18px;
  color: #8E8E8E;
  margin: 20px 0 55px; }

.product__price {
  display: inline-block;
  font-size: 28px;
  font-weight: bold; }

.product__basket {
  display: inline-block; }

.basket__link:before {
  content: url("images/basket.png");
  margin-left: 60px; }

/*# sourceMappingURL=scssStyles.css.map */
