/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: 0 auto;
  max-width: 980px;
  position: relative;
  justify-content: space-between;
  display: flex; }

.header {
  margin: 0 auto;
  padding: 65px;
  color: #767676;
  background-color: #DCDCDC; }
  .header .company-label {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    display: flex; }
    .header .company-label .company-label__logo {
      width: 100px;
      height: 100px;
      background: #767676; }
    .header .company-label .company-label__description {
      margin: 5px 15px 15px;
      width: 150px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      line-height: .9; }
      .header .company-label .company-label__description .company-label__title {
        font-size: 24px;
        font-weight: bold; }
      .header .company-label .company-label__description .company-label__slogan {
        font-size: 14px; }
  .header .feedback {
    font-family: "Open Sans Condensed", sans-serif;
    margin-top: -20px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end; }
    .header .feedback .feedback__phone {
      font-size: 40px;
      font-weight: 300; }
    .header .feedback .feedback__url {
      font-size: 24px;
      font-weight: 700;
      margin-top: 10px;
      display: inline-block;
      margin-right: 0;
      text-decoration: none;
      color: #767676; }
    .header .feedback .feedback__underline {
      border-top: 2px dashed; }

.main-menu {
  margin: 0 auto;
  background-color: #767676;
  width: auto;
  font-family: "PT Sans", sans-serif, sans-serif;
  font-size: 30px; }
  .main-menu .main-menu__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 980px; }
    .main-menu .main-menu__list li {
      position: relative; }
      .main-menu .main-menu__list li:not(:first-child):after {
        content: "|";
        position: absolute;
        top: 30%;
        color: #fff; }
    .main-menu .main-menu__list .list__item {
      color: #fff;
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      margin: 25px 25px;
      transition: border-bottom .2s ease-in;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: rgba(255, 255, 255, 0); }
      .main-menu .main-menu__list .list__item:hover {
        border-color: white; }

.slider {
  margin: 0 auto;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url("images/1.png");
  background-position: calc(50% - 20px); }
  .slider .slide {
    margin: 0 auto;
    display: block;
    transition: opacity 1s ease-in; }
    .slider .slide:not(.active) {
      opacity: 0;
      position: absolute; }
  .slider .slider__buttons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0; }
    .slider .slider__buttons .slider__button {
      background-image: url("images/arrow.png");
      background-repeat: no-repeat;
      width: 64px;
      height: 61px;
      position: relative;
      cursor: pointer;
      top: 50%; }
      .slider .slider__buttons .slider__button.next {
        transform: rotate(180deg); }

.submenu .submenu__path-list {
  display: flex;
  padding: 5px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px; }
  .submenu .submenu__path-list .path-list__item {
    margin-right: 10px;
    text-decoration: none;
    color: #767676; }
    .submenu .submenu__path-list .path-list__item:hover {
      text-decoration: underline; }

.aside {
  font-family: "PT Sans", sans-serif;
  margin-top: 20px;
  width: 20%;
  display: flex;
  flex-direction: column; }
  .aside .aside__categories .categories__first-level-list .categories-list__first-level-item {
    padding-top: 10px;
    font-size: 18px;
    color: #767676;
    text-decoration: none;
    display: block; }
    .aside .aside__categories .categories__first-level-list .categories-list__first-level-item:hover {
      text-decoration: underline; }
    .aside .aside__categories .categories__first-level-list .categories-list__first-level-item:not(:first-child) {
      padding-top: 10px; }
  .aside .aside__categories .categories__first-level-list .categories__second-level-list {
    height: 0;
    padding-left: 10px;
    transition: height .5s ease-out;
    overflow: hidden; }
    .aside .aside__categories .categories__first-level-list .categories__second-level-list .categories-list__second-level-item {
      font-size: 14px;
      color: #767676;
      text-decoration: none;
      display: block;
      padding: 5px;
      position: relative; }
      .aside .aside__categories .categories__first-level-list .categories__second-level-list .categories-list__second-level-item:before {
        content: "\2022";
        color: #767676;
        display: inline-block;
        position: absolute;
        left: -5px; }
      .aside .aside__categories .categories__first-level-list .categories__second-level-list .categories-list__second-level-item:hover {
        color: #000; }

.pricelist__container {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 30px; }

/*# sourceMappingURL=scssStyles.css.map */
