/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


$max-width: 980px;
$font-family-stack: "PT Sans", sans-serif;

@mixin horizCentered {
  margin: 0 auto;
}

.container {
  @include horizCentered;
  max-width: $max-width;
  position: relative;
  justify-content: space-between;
  display: flex;
}


.header {
  @include horizCentered;
  padding: 65px;
  color: #767676;
  background-color: #DCDCDC;

    .company-label {
      font-family: $font-family-stack;
      font-size: 24px;
      display: flex;

        .company-label__logo {
          width: 100px;
          height: 100px;
          background: #767676;
        }

        .company-label__description {
          margin: 5px 15px 15px;
          width: 150px;
          display: flex;
          flex-flow: column wrap;
          justify-content: space-between;
          line-height: .9;

          .company-label__title {
            font-size: 24px;
            font-weight: bold;
          }

          .company-label__slogan {
            font-size: 14px;
          }
    }

    .feedback {
      font-family: "Open Sans Condensed", sans-serif;
      margin-top: -20px;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;

      .feedback__phone {
        font-size: 40px;
        font-weight: 300;
      }

      .feedback__url {
        font-size: 24px;
        font-weight: 700;
        margin-top: 10px;
        display: inline-block;
        margin-right: 0;
        text-decoration: none;
        color: #767676;
      }

      .feedback__underline {
        border-top: 2px dashed;
      }
    }
  }
}

.main-menu {
  @include horizCentered;
  background-color: #767676;
  width: auto;
  font: {
    family: $font-family-stack, sans-serif;
    size: 30px;
  }

  .main-menu__list {
    @include horizCentered;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $max-width;

    li {
      position: relative;
      &:not(:first-child):after {
        content: "|";
        position: absolute;
        top: 30%;
        color: #fff;
      }
    }

    .list__item {
      color: #fff;
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      margin: 25px 25px;
      transition: border-bottom .2s ease-in;
      border-bottom: {
        width: 2px;
        style: solid;
        color: rgba(255, 255, 255, 0);
      };
      &:hover {
        border-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.slider {
  @include horizCentered;
  height: 400px;
  background: {
    repeat: no-repeat;
    image: url("images/1.png");
    position: calc(#{50%} - #{20px});
  };

  .slide {
    @include horizCentered;
    display: block;
    transition: opacity 1s ease-in;

    &:not(.active) {
      opacity: 0;
      position: absolute;
    }
  }

  .slider__buttons {
    @include horizCentered;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    .slider__button {
      background: {
        image: url("images/arrow.png");
        repeat: no-repeat;
      }
      width: 64px;
      height: 61px;
      position: relative;
      cursor: pointer;
      top: 50%;
      &.next {
        transform: rotate(180deg);
      }
    }
  }
}