html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


:root {
    --brand-color: #767676;
    --max-width: 980px;
}


.container {
    max-width: 980px;
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
}


.header {
    padding: 65px;
    margin: 0 auto;
    color: var(--brand-color);
    background-color: #DCDCDC;
}

.company-label {
    display: flex;
    font-family: 'PT Sans', sans-serif;
}

    .company-label__description {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        line-height: .9;
        margin: 5px 15px 15px;
        width: 150px;
    }


    .company-label__logo {
        width: 100px;
        height: 100px;
        background: #767676;
    }

    .company-label__title {
        font-size: 24px;
        font-weight: bold;
    }

    .company-label__description {

    }

    .company-label__slogan {
        font-size: 14px;
    }

.feedback {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: -20px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

.feedback__phone {
    font-size: 40px;
    font-weight: 300;
}

.feedback__url {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    margin-right: 0;
    text-decoration: none;
    color: var(--brand-color);
}

.feedback__underline {
    border-top: 2px dashed;
}

.main-menu {
    background: var(--brand-color);
    width: auto;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}

.main-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}

.list__item {
    color: #ffffff;
    display: block;
    margin: 25px 25px;
    box-sizing: border-box;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom .2s ease-in;
}

.list__item:hover {
    border-color: rgba(255, 255, 255, 1);
}

.main-menu__list li {
    position: relative;
}

.main-menu__list li:not(:first-child):after {
    content: "|";
    position: absolute;
    top: 30%;
    color: #fff;
}

.slider {
    background: no-repeat url("images/1.png") 50% -20px;
    margin: 0 auto;
    height: 400px;
}


.slide {
    margin: 0 auto;
    display: block;
    transition: opacity 1s ease-in;
}

.slide:not(.active) {
    opacity: 0;
    position: absolute;
}

.slider__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.slider__button {
    background-image: url(images/arrow.png);
    width: 34px;
    height: 61px;
    position: relative;
    top: 50%;
    cursor: pointer;
}

.slider__button.next {
    transform: rotate(180deg);
}

.submenu__path-list {
    display: flex;
    padding: 5px 0;
}

.path-list__item {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: #767676;
    text-decoration: none;
    margin-right: 10px;
}

.path-list__item:hover {
    text-decoration: underline;
}

.categories-list__first-level-item {
    font-size: 18px;
    color: #767676;
    text-decoration: none;
    display: block;
}

.item_container:not(:first-child) {
    padding-top: 10px;
}

.categories-list__second-level-item {
    font-size: 14px;
    color: #767676;
    text-decoration: none;
    display: block;
    padding: 5px;
    position: relative;
}

.categories-list__first-level-item:hover {
    color: #767676;
    text-decoration: underline;
}

.aside {
    font-family: "PT Sans", sans-serif;
    margin-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.categories__second-level-list {
    padding-left: 10px;
    height: 0;
    transition: height .5s ease-out;
    overflow: hidden;
}

.categories-list__second-level-item:before {
    content: "\2022";
    color: #767676;
    display: inline-block;
    position: absolute;
    left: -5px;
}

.categories-list__second-level-item:hover {
    color: #000;
}


.main {
    font-family: "PT Sans", sans-serif;
    margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) auto;
}

.main:after {
    content: " ";
    flex: auto;
}



.product {
    padding: 20px;
    float: left;
    background-color: #DCDCDC;
    margin-bottom: 20px;
    margin-right: 15px;
}



.product__info {
    font-size: 18px;
    color: #8E8E8E;
    margin: 20px 0 55px;
}

.product__price {
    font-family: "PT Sans", sans-serif;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.product__basket {
    display: inline-block;
}

.basket__link:before {
    content: url("images/basket.png");
    margin-left: 60px;
}

.visible {
    display: block;
}

.pricelist__container {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    align-content: center;
}

.main__nav {
    width: 100%;
    grid-row: 3/4;
    grid-column: 2/3;
}

.nav__list {
    display: flex;
    justify-content: center;
}

.page__num {
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: #767676;
    margin-right: 20px;
}

.page__num:hover {
    color: #000;
    font-size: 16px;
}

.container-about-us {
    max-width: 980px;
    margin: 70px auto 0;
    display: flex;
    justify-content: flex-end;
}

.about-us {
    width: calc(80 * 980px / 100);
    display: flex;
    justify-content: space-between;
    color: #767676;
    font: 14px normal, "PT Sans", sans-serif;
    border-top: 1px solid;
    padding-top: 30px;
}

.about-us__company {
    width: calc(50% - 15px);
}

.footer {
    background: var(--brand-color);
    color: #fff;
    margin-top: 190px;
    font: 14px normal, "PT Sans", sans-serif;
    padding: 40px 0;
}

.footer__container {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer__nav-item {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid;
}

.site-development__fig {
    display: flex;
    flex-direction: row;
}

.site-development__description {
    margin-left: 8px;
}