/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media all and (min-width: 600px) {
  .main-image {
    height: 400px;
    width: 100vw; }
  .about {
    padding: 2em 2.5em; }
  .we-doing {
    padding: 2em 2.5em; }
  .our-history {
    padding: 2em 2.5em; }
  .verified {
    padding: 2em 2.5em; }
  .page-design {
    padding: 2em 2.5em; }
  .contact {
    padding: 2em 2.5em; }
  .navigation__hamburger {
    right: 25px; }
  .nav {
    top: 15px;
    position: sticky; }
  .menu-toggle__input {
    right: 25px; } }

@media all and (min-width: 768px) {
  .main-image {
    background-size: cover; } }

@media all and (min-width: 992px) {
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .main-image {
    width: 65vw;
    height: inherit;
    flex: 2 1 auto;
    background: no-repeat top left;
    background-size: cover; }
  .about {
    width: 30vw;
    flex: 1 1 auto;
    padding: 70px 60px;
    box-sizing: border-box; }
  .nav {
    position: absolute;
    right: 23vw;
    top: 55px; }
  .menu-toggle {
    width: 33px;
    height: 33px;
    right: 0; }
  .we-doing {
    flex: 1 1 45vw; }
  .history-verified-container {
    flex: 1 1 30vw;
    display: flex;
    flex-flow: column; }
  .footer {
    display: flex;
    width: 100vw; }
  .page-design {
    flex: 1 1 40vw; }
  .contact {
    flex: 1 1 60vw; }
  .contact__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .contact__input {
    width: 40%; }
  .contact__message {
    position: relative;
    flex-basis: 100%;
    height: 160px; } }

.body {
  font: normal 18px/2 "Roboto", sans-serif; }

.main-image {
  overflow: hidden;
  background-image: url("../images/Rectangle 1.png");
  background-repeat: no-repeat; }

.about {
  padding: 60px 50px; }

.about__header {
  font-size: 45px;
  font-weight: 300;
  color: #1C2B2F;
  margin: 60px 0; }

.about__text {
  margin: 45px 0; }

.we-doing {
  padding: 60px 50px;
  color: #fff;
  background-image: url("../images/Rectangle 1 copy 2.png");
  background-repeat: no-repeat;
  background-size: cover; }

.we-doing__header {
  font-size: 45px; }

.we-doing__text {
  margin: 45px 0; }

.our-history {
  padding: 60px 50px;
  color: #1C2B2F;
  background: url("../images/Rectangle 2.png"); }

.our-history__header {
  font-size: 45px; }

.our-history__text {
  margin: 45px 0; }

.our-history__view {
  border-style: solid;
  background-color: transparent;
  border-color: #1C2B2F;
  border-radius: 15px;
  border-width: 1px;
  color: #1C2B2F;
  font: normal 18px/2 "Roboto", sans-serif;
  padding: 10px 25px; }

.verified {
  padding: 60px 50px;
  font-size: .865em;
  color: #fff;
  background-image: url("../images/Rectangle 1 copy.png");
  background-repeat: no-repeat;
  background-size: cover; }

.verified__header {
  font-size: 45px; }

.verified__text {
  margin: 45px 0; }

.verified__button {
  border-style: solid;
  background-color: transparent;
  border-color: #fff;
  border-radius: 15px;
  border-width: 1px;
  color: #fff;
  font: normal 18px/2 "Roboto", sans-serif;
  padding: 10px 25px; }

.page-design {
  padding: 60px 50px;
  background: url("../images/Rectangle 2 copy.png") no-repeat;
  background-size: cover;
  color: #fff; }

.page-design__header {
  margin-bottom: 260px;
  font-size: 45px; }

.page-design__name {
  font-size: 42px; }

.page-design__description {
  font-size: .92em; }

.contact {
  padding: 60px 50px;
  background-image: url("../images/Rectangle 3.png");
  background-size: cover;
  position: relative;
  color: #fff; }

.contact__header {
  font-size: 45px; }

.contact__input {
  border-style: solid;
  background-color: transparent;
  border-color: #fff;
  border-radius: 15px;
  border-width: 1px;
  color: #fff;
  font: normal 18px/2 "Roboto", sans-serif;
  padding: 10px 25px;
  background: transparent;
  color: #fff;
  margin: 10px 10px 10px 0; }
  .contact__input::placeholder {
    color: #fff; }
  .contact__input:focus {
    outline: none; }

.address_button {
  width: 45px;
  height: 45px;
  position: relative;
  display: block;
  margin-right: 5px;
  border-radius: 5px; }

.address_description {
  margin-top: 45px; }

.media-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.social__container {
  display: flex;
  margin: 20px 0; }

.facebook_button {
  background: #035BB8; }

.dribbble_button {
  background: #FF4699; }

.twitter_button {
  background: #00B5FF; }

.strong {
  font-weight: bold; }

.navigation__hamburger {
  height: 3px;
  width: 33px;
  background: #1C2B2F;
  position: absolute; }
  .navigation__hamburger:before, .navigation__hamburger:after {
    content: " ";
    display: block;
    width: 33px;
    height: 3px;
    background: #1C2B2F;
    position: absolute; }
  .navigation__hamburger:before {
    margin-top: 10px; }
  .navigation__hamburger:after {
    margin-top: 20px; }

.menu-toggle__input {
  position: absolute;
  width: 33px;
  height: 23px;
  opacity: 0;
  z-index: 1; }

@media all and (max-width: 600px) {
  .navigation__hamburger {
    right: 13px;
    top: 3px; }
  .body {
    display: grid;
    grid-template-rows: 0 50vh;
    grid-auto-rows: min-content;
    grid-template-columns: 100vw; }
  .main-image {
    height: 50vh;
    width: 100%; }
  .contact__form {
    display: flex;
    flex-direction: column; }
  .menu-toggle__input {
    right: 10px;
    top: 0; }
  .nav {
    position: sticky;
    top: 15px; } }
