@font-face {
  font-family: Gilroy;
  font-weight: 100;
  font-style: normal;

  src: url("../../src/fonts/gilroylight.woff2") format("woff2"),
  url("../../src/fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 900;
  font-style: normal;

  src: url("../../src/fonts/gilroyextrabold.woff2") format("woff2"),
  url("../../src/fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;

  src: url("../../src/fonts/opensans.woff2") format("woff2"),
  url("../../src/fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;

  src: url("../../src/fonts/opensanslight.woff2") format("woff2"),
  url("../../src/fonts/opensanslight.woff") format("woff");
}
