.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.body {
  background: #ffffff;
  font-family: $font-family-description;
  font-size: $main-font-size;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner-container {
  position: relative;
  padding: 0 60px;
}

.line {
  width: 100px;
  height: 7px;
  background: #ffffff;
}

.img-to-bottom {
  margin: auto auto 0;
}

.w-100 {
  width: 100%;
}
