$main-color: #f7e296;
$font-family-main: Gilroy,
Helvetica,
sans-serif;
$font-family-description: "Open Sans",
Helvetica,
sans-serif;
$details-button-color: #ffc600;
$second-button-color: #f0c52e;
$main-font-size: 15px;
$categories-font-size: 18px;
$service-title-font-size: 47px;
$modal-field-background-color: #f2f2f2;