.logo {
  @include button-pseudo-icon();
  display: block;
  color: #000000;
  font-family: $font-family-main;
  font-size: 48px;
  font-weight: 900;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.link:link,
.link:visited {
  position: relative;
  color: #000000;
  line-height: 30px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.compare::before {
  @include button-pseudo-icon(10px, 10px, "../../src/svg/compare.svg",
  (top: 11px, left: -18px));
}

.user-login::before {
  @include button-pseudo-icon(13px, 12px, "../../src/svg/user.svg",
  (top: 5px, left: -25px));
}

.cart::before {
  @include button-pseudo-icon(12px, 12px, "../../src/svg/cart.svg",
  (top: 10px, left: -20px));
}

.details-button,
.details-button:link,
.details-button:visited {
  display: block;
  position: relative;
  height: 40px;
  color: #000000;
  font-family: var(--font-family-main);
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  &:hover::before {
    height: inherit;
    border: none;
  }

  &:focus::before {
    height: inherit;
    border: none;
  }

  &:active {
    color: rgb(#000000, 0.5);
  }
}


.details-button:before,
.details-button:link::before,
.details-button:visited::before {
  $border-color: #f4d361;
  $background-color: #f0c52e;
  @include button-pseudo-icon(initial, 8px, null, (top:0, left: 0, right: 0, bottom: 0));
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  margin: auto;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background: $background-color;
  transition: height 0.3s ease-in;
}

.facebook {
  background: url("../../src/svg/fb.svg");
}

.vk {
  background: url("../../src/svg/vk.svg");
}

.twitter {
  background: url("../../src/svg/twitter.svg");
}
