.footer {
  padding: 50px 0;
  background: #464646;
}

.footer-top {
  display: flex;
  margin-bottom: 17px;

  align-items: center;
}

.footer-top__right {
  display: flex;
  width: 300px;
  margin-left: auto;

  justify-content: space-between;
}

.footer-compare {
  margin: 0;
}

.footer-cart {
  margin: 0;
}

.footer-user-login:link,
.footer-user-login:visited,
.footer-compare:link,
.footer-compare:visited,
.footer-cart:link,
.footer-cart:visited {
  color: #ffffff;
}

.footer-middle {
  display: flex;
  margin-bottom: 30px;
}

.footer-nav {
  width: 420px;
  margin-left: 130px;
}

.footer-nav__item {
  margin-right: 30px;
}

.footer-nav__list {
  display: flex;
  list-style: none;

  justify-content: space-between;
}

.footer__phone {
  margin-left: auto;
  color: #ffffff;
}

.footer-nav__item:link,
.footer-nav__item:visited {
  color: #ffffff;
  font-family: $font-family-main;
  font-size: $categories-font-size;
  font-weight: 900;
  line-height: 1.333;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-bottom {
  display: flex;

  align-items: center;
}

.footer__social-list {
  display: flex;
  width: 160px;
  margin-left: 430px;
  padding: 0;
  list-style: none;

  justify-content: space-between;
}

.footer__social-item:link,
.footer__social-item:visited {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-user-login::before {
  top: 8px;
  background: url("../../src/svg/user-orange.svg");
}

.footer-compare::before {
  margin-right: 90px;
  background: url("../../src/svg/compare-orange.svg");
}

.footer-cart::before {
  background: url("../../src/svg/cart-orange.svg");
}

.footer-line {
  width: 80px;
  height: 5px;
  background: #ffc600;
}

.footer-bottom__logo {
  margin-left: auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-logo:link,
.footer-logo:visited {
  position: relative;
  top: 5px;
  color: $details-button-color;
}

.footer-address {
  color: #ffffff;
}