.logotypes {
  position: relative;
  top: -87px;
}

.logotypes__list {
  display: flex;
  padding: 95px 0;
  list-style: none;

  justify-content: space-around;
}

.logotypes__img {
  opacity: 0.2;

  filter: grayscale(100%);
}

.logotypes__item:hover > .logotypes__img {
  opacity: 1;

  filter: none;
}
