.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  box-shadow: #000000 0 20px 40px -30px;
  transform: translate(-50%, -50%);
}

.modal-write-us {
  box-sizing: border-box;
  width: 960px;
  padding: 90px 100px;
  background: #ffffff;
}

.modal-write-us__field {
  height: 50px;
  margin-top: 5px;
  padding-left: 20px;
  border: none;
  outline: none;
  background: $modal-field-background-color;
}

.modal-write-us__subform {
  display: flex;
  box-sizing: border-box;

  flex-basis: 360px;
  flex-flow: column wrap;
}


.modal-write-us__form {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
}

.modal-write-us__message {
  margin-top: 5px;
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  outline: none;
  background: $modal-field-background-color;
  resize: none;
}

.modal-write-us__label {
  margin-top: 35px;
  font-family: $font-family-main;
  font-size: 18px;
  font-weight: 900;
}

.modal-write-us__send {
  width: 200px;
  margin-top: 50px;
  border: none;
  outline: none;
  background: none;

  &::before {
    top: 4px;
  }
}

.modal__close {
  position: absolute;
  width: 55px;
  height: 55px;
  border: none;
  outline: none;
  opacity: 0.5;
  background: url("../../src/svg/modal-close.svg") no-repeat;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.is-open {
  display: block;
}

.modal-write-us__close {
  top: 30px;
  right: 20px;
}

.modal-map__close {
  top: 20px;
  right: 20px;
}
