.popular-categories {
  position: relative;
  top: -55px;
  margin-bottom: 180px;
}

.popular-categories__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  justify-content: space-between;
}

.popular-categories__category:link,
.popular-categories__category:visited {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0;
  color: #000000;
  text-decoration: none;

  align-items: stretch;
}

.popular-categories__category:hover > .popular-categories__category-img-container {
  background: $second-button-color;
}

.popular-categories__category-img-container {
  display: flex;
  height: 160px;
  background: $main-color;
}

.popular-categories__category-name {
  margin-top: 20px;
  font-family: $font-family-main;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.333;
}

.popular-categories__category:active > .popular-categories__category-img-container > .popular-categories__category-img,
.popular-categories__category:active > .popular-categories__category-img-container + .popular-categories__category-name {
  opacity: 0.3;
}

.popular-categories__category-img:not(.img-to-bottom) {
  margin: auto;
}
