.top-items {
  position: relative;
  top: -65px;
  padding-left: 18px;
  padding-bottom: 10px;
  height: 500px;
}

.top-items__slide-num {
  position: absolute;
  top: -255px;
  right: 43px;
  font-size: 179.2px;
  font-family: $font-family-main;
  font-weight: bold;
  color: #fff;
}

.slide__middle {
  position: relative;
  margin-top: 40px;
}

.slide__description {
  margin: 0;
  line-height: 2;
}

.slide__header {
  margin-bottom: 20px;
  font-size: 47px;
  line-height: 1.191;
  font-weight: 900;
  font-family: $font-family-main;
}

.slide {
  display: none;
  position: relative;
}

.slide--active {
  display: flex;
}

/* .slide--active {
  display: flex;
} */

.slide__right {
  margin-left: 100px;
  padding-top: 45px;
  /* padding-left: 50px; */
  display: flex;
  flex-flow: column wrap;
  height: 465px;
}

.slides__controls {
  box-sizing: border-box;
  position: absolute;
  right: 73px;
  bottom: 200px;
  width: 85px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.slides__control {
  position: relative;
  opacity: 1;
  left: 23px;
  width: 13px;
  height: 13px;
}

.slides__control-label::before {
  position: absolute;
  width: 13px;
  height: 13px;
  content: " ";
}

.slides__control+.slides__control-label::before {
  background: url("../../src/svg/slider-button-empty.svg") no-repeat 0 0;
  background-size: contain;
}


.slides__control--checked+.slides__control-label::before

/* .slides__control:checked+.slides__control-label::before */
  {
  background: url("../../src/svg/slider-button.svg") no-repeat 0 0;
  background-size: contain;
}

.slide__details {
  margin-top: auto;
  width: 220px;
}

.slide__specs {
  margin-bottom: 20px;
  margin-top: 35px;
}

.slide__specs-values {
  display: table-header-group;
  font-family: $font-family-main;
  font-weight: lighter;
  font-size: 36px;
  line-height: 1.333;
}

.slide__specs-names {
  display: table-row-group;
}

.specs-names__item {
  text-align: start;
  font-weight: 100;
  font-size: 13px;
}

.specs-values__item {
  line-height: 1.54;
  font-weight: lighter;
}

.slide__specs-cell:nth-child(n+2) {
  padding-left: 60px;
}

.slide__img {
  width: 400px;
}